@model English_games.ViewModels.User.UserViewModel

@{
    ViewBag.Title = "Вы заблокированы";
    Layout = "_Layout";
}


<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">@ViewBag.Title</h2>
    </div>
</div>
