@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Сброс пароля";
}



<div class="row justify-content-center">
    <div class="col-md-6 number-for-sms-reset-password text-center mx-auto login-reset-password">
        <h4>Забыли пароль?</h4>
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
            <h6>Введите номер без 8 или +7</h6>
            <div class="form-group text-center">
                <label asp-for="UserName" class="col-md-2 control-label"></label>
                <div class="col-md-10 mx-auto">
                    <input asp-for="UserName" 
                           class="form-control" 
                           id="userName" 
                           placeholder="7051234567" 
                           maxlength="10"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 text-center mx-auto">
                    <button type="submit" id="submitButton" class="btn btn-primary mt-3">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        // document.addEventListener("DOMContentLoaded", function () {
        //     var userNameInput = document.getElementById("userName");
        //     var submitButton = document.getElementById("submitButton");
        //
        //     // Функция для проверки валидности формы
        //     function validateForm() {
        //         // Проверяем, содержит ли поле ввода номера телефона только цифры
        //         var userNameIsValid = /^\d{10}$/.test(userNameInput.value);
        //         if (userNameInput.value.startsWith('8')) {
        //             alert("Введите номер без 8 или +7 в формате (777)-123-4567");
        //             userNameInput.value = "7"; // Очистка поля, если начинается с '8'
        //         }
        //         // Активируем или деактивируем кнопку в зависимости от результата проверки
        //         submitButton.disabled = !userNameIsValid;
        //     }
        //
        //     // Добавляем слушателя события "input" для поля ввода номера телефона
        //     userNameInput.addEventListener("input", validateForm);
        //
        //     // Вызываем функцию валидации при загрузке страницы
        //     validateForm();
        // });
        
        document.addEventListener("DOMContentLoaded", function () {
            var userNameInput = document.getElementById("userName");
            var submitButton = document.getElementById("submitButton");
        
            // Функция для проверки валидности формы
            function validateForm() {
                // Оставляем только цифры в значении поля ввода номера телефона
                userNameInput.value = userNameInput.value.replace(/\D/g, '');
        
                // Проверяем, содержит ли поле ввода номера телефона только цифры
                var userNameIsValid = /^\d{10}$/.test(userNameInput.value);
                if (userNameInput.value.startsWith('8')) {
                    alert("Введите номер без 8 или +7 в формате (777)-123-4567");
                    userNameInput.value = "7"; // Очистка поля, если начинается с '8'
                }
                // Активируем или деактивируем кнопку в зависимости от результата проверки
                submitButton.disabled = !userNameIsValid;
            }
        
            // Добавляем слушателя события "input" для поля ввода номера телефона
            userNameInput.addEventListener("input", validateForm);
        
            // Вызываем функцию валидации при загрузке страницы
            validateForm();
        });

    </script>
}