@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Сбросить пароль";
}
<div class="d-none">
    <h2>@ViewData["Title"]</h2>
    @{
        if (ViewBag.NotFoundUser is not null)
        {
            <h3 class="text-danger">@ViewBag.NotFoundUser</h3>
        }
    }
    
    
    <a id="resetPasswordLink" href="@ViewBag.Token" class="btn btn-danger">Сбросить пароль</a>
</div>


@{
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Переход по ссылке при загрузке страницы
        var resetPasswordLink = document.getElementById("resetPasswordLink");
        if (resetPasswordLink) {
            resetPasswordLink.click();
        }
    });
</script>
}